<h1>Browse friends</h1>
<div class="d-flex justify-content-between wrap">
<% @friends.each do |friend| %>
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag friend.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= friend.name %></h5>
        <p class="card-text"><%= friend.description %></p>
        <p class="card-text">$<%= friend.price %> per day <i class="fas fa-map-marker"> </i><%=  friend.location %></p>
        <%= link_to "Book Now", friend_path(friend)  %>
      </div>
    </div>
  <% end %>
 <div class="card">
  <div class="card-body">
    <h5 class="card-title">List a friend</h5>
    <p class="card-text">Have a friend you'd like to list?</p>
    <%= link_to "Add a friend", new_friend_path  %>
  </div>
</div>
</div>
