<h1>Browse friends</h1>
<div class="d-flex justify-content-between flex-wrap">
<% @friends.each do |friend| %>

    <div class="card col-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= friend.name %></h5>
        <p class="card-text"><%= friend.description %></p>
        <p class="card-text">$<%= friend.price %> per day <i class="fas fa-map-marker"> </i><%=  friend.location %></p>
        <a href="#" class="btn btn-primary">Book Now</a>
        <%= link_to "Edit", edit_friend_path(friend)  %>
        <%= link_to "Delete", friend_path(friend), method: :delete  %>

      </div>
    </div>
  <% end %>
 <div class="card col-3">
  <div class="card-body">
    <h5 class="card-title">List a friend</h5>
    <p class="card-text">Have a friend you'd like to list?</p>
    <%= link_to "List Now", new_friend_path  %>
  </div>
</div>
</div>
