<div class="container align-items-center">
  <div class="row">
     <div class="col-sm-12 col-md-6">
       <div class="card" style="width: 18rem;">
        <%= cl_image_tag @friend.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top"  %>
        <div class="card-body ">
          <h5 class="card-title"><%= @friend.name %></h5>
          <p class="card-text"><%= @friend.description  %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p>Skills: <%= @friend.skills %></p></li>
          <li class="list-group-item"><p>Price: <%= @friend.price %></p></li>
          <li class="list-group-item"><p>Location: <%= @friend.location  %></li>

          <li class="list-group-item"><p>Reviews</li>
             <div class="text-center mt-3">
            <% @friend.reviews.each do |review|   %>
               <p><%= review.content %></p><p>
                <p>Rating : <%= review.rating %></p>

              <% end %>
            </div>
        </ul>
        <div class="card-body">
          <%= render 'calender', bookings: @friend.bookings %>
          <%= render '/bookings/new_form', booking: @booking, friend: @friend %>
        </div>
      </div>
  </div>
</div>

