<div class="justify-content-center mt-3 d-flex container">
  <div class="row">
     <div class="col-sm-12 col-md-6">
       <div class="card">
        <%= cl_image_tag @friend.photo.key, height: 500, crop: :fill, class: "card-img-top"  %>
        <div class="card-body ">
          <h3 class="card-title"><%= @friend.name %></h3>
          <p class="card-text"><%= @friend.description  %></p>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <p>Skills:</p>
            <div class="d-flex">
              <% @friend.skills.each do |skill| %>
                <h4>
                  <span class="badge badge-secondary ml-2"><%= skill.name %></span>
                </h4>
              <% end %>
            </div>
          </li>
          <li class="list-group-item">Price: $<%= @friend.price %>.00 per hour</li>
          <li class="list-group-item">Location: <%= @friend.location  %></li>
          <li class="list-group-item">
             <div class="text-center mt-3">
                <%= render 'review_list', friend: @friend %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <%= render 'show_page_map' %>
          <%= render '/bookings/new_form', booking: @booking, friend: @friend %>
          <br>
          <%= render 'calender', bookings: @friend.bookings %>
        </div>
      </div>
    </div>
  </div>
</div>


