<div class="justify-content-center mt-3 d-flex">
  <div class="row">
     <div class="col-sm-12 col-md-6">
       <div class="card" style="width: 18rem;">
        <%= cl_image_tag @friend.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top"  %>
        <div class="card-body ">
          <h5 class="card-title"><%= @friend.name %></h5>
          <p class="card-text"><%= @friend.description  %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <% @friend.skills.each do |skill| %>
            <p>Skills: <%= skill.name %></p>
            <% end %></li>
          <li class="list-group-item"><p>Price: <%= @friend.price %></p></li>
          <li class="list-group-item"><p>Location: <%= @friend.location  %></li>

          <li class="list-group-item"><p>Reviews</li>
             <div class="text-center mt-3">
            <% @friend.reviews.each do |review|   %>
               <p><%= review.content %></p><p>
                <p>Rating : <%= review.rating %></p>

              <% end %>
            </div>
        </ul>
        <div class="card-body">
          <%= render 'calender', bookings: @friend.bookings %>
          <%= render '/bookings/new_form', booking: @booking, friend: @friend %>
        </div>
      </div>
  </div>
</div>
<div style="width:50%;" class='ml-2'>
    <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" class="m-3">
    </div>
    <%= render 'calender', bookings: @friend.bookings %>
</div>
</div>

