<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= simple_form_for [ @friend, @booking ] do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.input :total_price %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>





