
<div class="container">
<p> Details of your booking</p>
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-3">
      <p>Friend Id:  <%= @booking.friend_id %></p>
      <p>Booking status : <%= @booking.status %></p>
      <p>Starting Time :  <%= @booking.start_time %>  Ending Time : <%= @booking.end_time  %></p>
      <p>Price:  <%= @booking.total_price %></p>
    </div>
  </div>
</div>



