<h1>Browse My Bookings</h1>

<div class="cards-container d-flex flex-wrap justify-content-center">
  <% @bookings.each do |booking| %>
  <div class="card mx-3 mb-3" style="width: 300px;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to "Booking with #{booking.friend.name}", booking_path(booking) %></h5>
      <p>Booking status : <%= booking.status.capitalize %></p>
        <p>Booking Starts :  <%= booking.start_time.strftime("#{booking.start_time.day.ordinalize} %B %-l.%M%P") %></p>
        <p>Booking Ends : <%= booking.end_time.strftime("#{booking.start_time.day.ordinalize} %B %-l.%M%P")  %></p>
      <div class = "d-flex justify-content-center mb-1">
      <%=  link_to "Leave a Review",  new_booking_review_path(booking), { :class=>"btn btn-primary rounded-pill align-items-center" }  %>
    </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to "Back to the your dashboard", dashboard_path, { :class=>"btn btn-primary btn-lg btn-block mt-5" } %>

