<h1>Browse My friends</h1>

<div class="cards-container d-flex flex-wrap justify-content-center">
  <% @friends.each do |friend| %>
  <div class="card mx-3 mb-3" style="width: 300px;">
    <%= cl_image_tag friend.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to friend.name, friend_path(friend) %></h5>
      <% friend.bookings.each do |booking| %>
      <h5><%= booking.user.first_name + " " +booking.user.last_name %></h5>
      <p>Start-time:<%= booking.start_time %></p>
      <p>End-time:<%= booking.end_time %></p>
        <%= link_to "See this booking", booking_path(booking), { :class=>"btn btn-primary btn-lg btn-block mb-5" } %>
      <% end %>
    </div>
      <%= link_to "Edit My Friend", edit_friend_path(friend), { :class=>"btn btn-warning btn-lg btn-block mt-5" } %>
      <br>
      <%= link_to "Delete Friend", friend_path(friend), method: :delete %>

  </div>
  <% end %>
</div>

<%= link_to "Back to the your dashboard", dashboard_path, { :class=>"btn btn-primary btn-lg btn-block mt-5" } %>
