<h1>Browse My friends</h1>

<div class="cards-container d-flex flex-wrap justify-content-center">
  <% @friends.each do |friend| %>
  <div class="card mx-3 mb-3" style="width: 300px;">
    <%= cl_image_tag friend.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to friend.name, friend_path(friend) %>'s bookings</h5>
      <% friend.bookings.each do |booking| %>
      <h5><%= booking.user.first_name + " " +booking.user.last_name %></h5>
        <p>Booking status : <%= booking.status.capitalize %></p>
        <p>Booking Starts :  <%= booking.start_time.strftime("#{booking.start_time.day.ordinalize} %B %-l.%M%P") %></p>
        <p>Booking Ends : <%= booking.end_time.strftime("#{booking.start_time.day.ordinalize} %B %-l.%M%P")  %></p>
        <%= link_to "See this booking", booking_path(booking), { :class=>"btn btn-primary btn-lg btn-block mb-5" } %>
      <% end %>
    </div>
    <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
      <%= link_to "Edit My Friends", edit_friend_path(friend) %>
    </button>
  </div>
  <% end %>
</div>

<%= link_to "Back to the your dashboard", dashboard_path, { :class=>"btn btn-primary btn-lg btn-block mt-5" } %>
